html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: Arial, sans-serif;
}

body {
    background:  #63B1BC;
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.divResposta {
    position: absolute;
    top: 90px; 
    left: 400px;
    padding: 15px;
    background-color: #D0D3D4;
    border: 1px solid #63666A;
    color: #000000; 
    border-radius: 8px;
    max-width: 720px; 
    width: 100%; 
    text-align: left;
    white-space: pre-line; 
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.divResposta h3 {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 1.2em;
}

.divResposta h3 img {
    margin-right: 10px;
    height: 25px;
    width: 25px;
}

main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding: 0 0 30px 0;
    box-sizing: border-box;
    overflow-y: auto; 
    flex-grow: 1; 
}

.logo {
    position: relative;
    z-index: 1;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 2.3em;
}

.logo img {
    height: 50px;
    width: 50px;
    top: 13px;
    position: relative;
}

.divResposta img {
    height: 25px;
    width: 25px;
}

.view.conversation-view {
    display: none;
    overflow-y: auto;
}

.message-form {
    position: fixed; 
    left: 334px;
    bottom: 0;
    width: 100%;
    max-width: 850px;
    text-align: center;
    padding: 15px 45px;
    box-sizing: border-box;
    margin: 0 auto;
}

.message-wrapper {
    position: relative;
}

.message {
    width: 100%;
    box-sizing: border-box;
    background: #ED145B;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 13px;
    resize: none;
    padding: 17px 85px 17px 15px;
    font-family: inherit;
    font-size: 1em;
    color: rgb(0, 0, 0);
    outline: none;
    box-shadow: rgba(0,0,0,0.2) 0 0 45px;
}

.message::placeholder{
    color: white;
}

.disclaimer {
    margin-top: 12px;
    color: black;
    font-size: 0.7em;
    text-shadow: 1px 1px 2px #ffffff;
}


.send-button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    display: inline-block;
    font-size: 1em;
    padding: 7px 9px;
    color: rgb(0, 0, 0);
    background-color: #210b0300;
    border: none;
    cursor: pointer;
}

.send-button:hover {
    background-color: #3e281f00;
    color: #fff;
    border: 1px solid #ED145B;
}


::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: black
  }
  
  ::-webkit-scrollbar-thumb {
    background-color:  #533529;
    border-radius: 20px;
    border: 3px solid black
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: white;
  }