@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
  --background: radial-gradient(circle, #b78875 0%, #3e281f 100%);
  --navbar-width: 256px;
  --navbar-width-min: 80px;
  --primario: #f5e7c3;
  --marromPrimario: #7c573c8a;
  --corPrimaria: #ffffff;
  --corSecundaria: #000000;
}

html,
body {
  height: 100%;
  background: var(--background);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

.conteiner-main {
  height: 100%;
  display: flex;
  flex-direction: row;
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-left: 20%;
  width: 100%;
}

#nav-header img {
  height: 55px;
  width: 50px;
}


#nav-toggle:checked~#nav-header {
  width: calc(var(--navbar-width-min) - 16px);
}

#nav-toggle:checked~#nav-content,
#nav-toggle:checked~#nav-footer {
  width: var(--navbar-width-min);
}

#nav-toggle:checked~#nav-header #nav-title {
  opacity: 0;
  pointer-events: none; 
  transition: opacity 0.1s;
}

#nav-toggle:checked~#nav-header label[for=nav-toggle] {
  transform: translate(-50%);
}

#nav-toggle:checked~#nav-header #nav-toggle-burger {
  background: var(--corPrimaria);
}

#nav-toggle:checked~#nav-header #nav-toggle-burger:before,
#nav-toggle:checked~#nav-header #nav-toggle-burger::after {
  width: 16px;
  background: var(--corSecundaria);
  transform: translate(0, 0) rotate(0deg);
}

#nav-toggle:checked~#nav-content .nav-button span {
  opacity: 0;
  transition: opacity 0.1s;
}

#nav-toggle:checked~#nav-content .nav-button .fas {
  min-width: calc(100% - 16px);
}

#nav-toggle:checked~#nav-footer #nav-footer-avatar {
  margin-left: 0;
  left: 50%;
  transform: translate(-50%);
}

#nav-toggle:checked~#nav-footer #nav-footer-titlebox,
#nav-toggle:checked~#nav-footer label[for=nav-footer-toggle] {
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
}

#nav-bar {
  position: absolute;
  height: calc(100% - 2vw);
  background: var(--primario);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  color: var(--corPrimaria);
  overflow: hidden;
  user-select: none;
}

#nav-bar hr {
  margin: 0;
  position: relative;
  left: 16px;
  width: calc(100% - 32px);
  border: none;
  border-top: solid 1px var(--marromPrimario);
}

#nav-bar a {
  color: inherit;
  text-decoration: inherit;
}

#nav-bar input[type=checkbox] {
  display: none;
}

#nav-header {
  position: relative;
  width: var(--navbar-width);
  left: 16px;
  width: calc(var(--navbar-width) - 16px);
  min-height: 80px;
  background: var(--primario);
  border-radius: 16px;
  z-index: 2;
  display: flex;
  align-items: center;
  transition: width 0.2s;
}

#nav-header hr {
  position: absolute;
  bottom: 0;
}

#nav-title {
  font-size: 1.5rem;
  transition: opacity 1s;
}

label[for=nav-toggle] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#nav-toggle-burger {
  position: relative;
  width: 16px;
  height: 2px;
  background: var(--primario);
  border-radius: 99px;
  transition: background 0.2s;
}

#nav-toggle-burger:before,
#nav-toggle-burger:after {
  content: "";
  position: absolute;
  top: -6px;
  width: 10px;
  height: 2px;
  background: #3e281f;
  border-radius: 99px;
  transform: translate(2px, 8px) rotate(30deg);
  transition: 0.2s;
}

#nav-toggle-burger:after {
  top: 6px;
  transform: translate(2px, -8px) rotate(-30deg);
}

#nav-content {
  margin: -16px 0;
  padding: 16px 0;
  position: relative;
  flex: 1;
  width: var(--navbar-width);
  background: var(--primario);
  box-shadow: 0 0 0 16px var(--primario);
  direction: rtl;
  overflow-x: hidden;
  transition: width 0.2s;
}

#nav-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

#nav-content::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #000000;
}

#nav-content-highlight {
  position: absolute;
  left: 16px;
  top: -70px;
  width: calc(100% - 16px);
  height: 54px;
  background: var(--background);
  background-attachment: fixed;
  border-radius: 16px 0 0 16px;
  transition: top 0.2s;
}

#nav-content-highlight:before,
#nav-content-highlight:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 100%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 16px 16px var(--background);
}

#nav-content-highlight:after {
  top: 100%;
  box-shadow: 16px -16px var(--background);
}

.nav-button {
  position: relative;
  height: 54px;
  display: flex;
  align-items: center;
  color: var(--corSecundaria);
  direction: ltr;
  cursor: pointer;
  z-index: 1;
  transition: color 0.2s;
}

.nav-button span {
  transition: opacity 1s;
}

.nav-button .fas {
  transition: min-width 0.2s;
}

.nav-button:nth-of-type(1):hover {
  color: var(--primario);
}

.nav-button:nth-of-type(1):hover~#nav-content-highlight {
  top: 16px;
}

.nav-button:nth-of-type(2):hover {
  color: var(--primario);
}

.nav-button:nth-of-type(2):hover~#nav-content-highlight {
  top: 70px;
}

.nav-button:nth-of-type(3):hover {
  color: var(--primario);
}

.nav-button:nth-of-type(3):hover~#nav-content-highlight {
  top: 124px;
}

.nav-button:nth-of-type(4):hover {
  color: var(--primario);
}

.nav-button:nth-of-type(4):hover~#nav-content-highlight {
  top: 178px;
}

.nav-button:nth-of-type(5):hover {
  color: var(--primario);
}

.nav-button:nth-of-type(5):hover~#nav-content-highlight {
  top: 232px;
}

.nav-button:nth-of-type(6):hover {
  color: var(--primario);
}

.nav-button:nth-of-type(6):hover~#nav-content-highlight {
  top: 286px;
}

.nav-button:nth-of-type(7):hover {
  color: var(--primario);
}

.nav-button:nth-of-type(7):hover~#nav-content-highlight {
  top: 340px;
}

.nav-button:nth-of-type(8):hover {
  color: var(--primario);
}

.nav-button:nth-of-type(8):hover~#nav-content-highlight {
  top: 394px;
}

#nav-bar .fas {
  min-width: 3rem;
  text-align: center;
}

#nav-footer {
  position: relative;
  width: var(--navbar-width);
  height: 54px;
  background: var(--marromPrimario);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition: width 0.2s, height 0.2s;
}

#nav-footer-heading {
  position: relative;
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
}

#nav-footer-avatar {
  position: relative;
  margin: 11px 0 11px 16px;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  transform: translate(0);
  transition: 0.2s;
}

#nav-footer-avatar img {
  height: 100%;
}

#nav-footer-titlebox {
  position: relative;
  margin-left: 16px;
  width: 10px;
  display: flex;
  flex-direction: column;
  transition: opacity 1s;
}

#nav-footer-subtitle {
  color: var(--corSecundaria);
  font-size: 0.6rem;
}

#nav-footer-toggle:checked+#nav-footer {
  height: 30%;
  min-height: 54px;
}

#nav-footer-toggle:checked+#nav-footer label[for=nav-footer-toggle] {
  transform: rotate(180deg);
}

label[for=nav-footer-toggle] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
}

#nav-footer-content {
  margin: 0 16px 16px 16px;
  border-top: solid 1px var(--corSecundaria);
  padding: 16px 0;
  color: var(--corSecundaria);
  font-size: 0.8rem;
  overflow: auto;
}

#nav-footer-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

#nav-footer-content::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #000000;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: black
}

::-webkit-scrollbar-thumb {
  background-color: #533529;
  border-radius: 20px;
  border: 3px solid black
}

::-webkit-scrollbar-thumb:hover {
  background-color: white;
}


.char_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;

}

.char_container canvas {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--primario);
  border: 3px solid #000000;
  transition: transform 0.3s;
}

.char_container canvas:hover {
  transform: translateY(-5px);
}


h1 {
  text-align: center;
  position: relative;
  color: #ffffff;
  font-family: "Dancing Script", cursive;
  text-shadow: 1px 1px #5d3f26,
    2px 2px #5d3f26,
    3px 3px #5d3f26,
    4px 4px #5d3f26,
    4px 4px #5d3f26,
    5px 5px #5d3f26,
    6px 6px #5d3f26,
    6px 6px #5d3f26,
    7px 7px #5d3f26,
    8px 8px #5d3f26,
    8px 8px #5d3f26,
    9px 9px #5d3f26,
    10px 10px #5d3f26;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.parametros{
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding-top:0px ;
  padding: 20px;
}

.parametros h3{
  margin: 0px;
  font-size: 20px;
}
.parametros p{
  margin: 0px;
  font-size: 15px;
}


.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 80px;
  border: 2.8px solid #19130f;
  text-align: center;
  border-radius: 15px;
  font-weight: bold;
  margin: 0;
  transition: color 0.3s, transform 0.3s, text-shadow 0.3s;
  color: black;
  margin: 0;
}

.card-abaixo{
  background-color: #2672ed;
}

.card-ideal{
  background-color:  rgba(28, 176, 28, 0.618);
}

.card-acima{
  background-color: rgb(218, 50, 50);
}



.plantacao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px solid #2c1d13;
  color: var(--corSecundaria);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  flex: 1;
  transition: transform 0.3s;

  span {
    font-weight: bold;
    font-size: 20px;
  }

  i {
    color: white;
  }

  span {
    color: white;
    text-shadow:
      1px 1px 0 #4A2721,
      2px 2px 0 #4A2721,
      3px 3px 0 #4A2721;
  }
}


.container{
  width: 100%;
  height: 80%;
  margin-bottom: 10%;
}

.kpi-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.kpi-container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  bottom: 510px;
  right: 130px;
  gap: 20px;
}

.kpi {
  background-color: var(--primario);
  height: 140px;
  width: 180px;
  border: 3px solid  #19130f;
  color: black;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s;
  margin: 0 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.atual_boa{
  border: 3px solid  rgba(28, 176, 28, 0.618);
  span{
    color: rgba(28, 176, 28, 0.618);
  }
} 


.atual_acima{
  border: 3px solid   rgb(218, 50, 50);;
  span{
    color:  rgb(218, 50, 50);;
  }
}


.atual_abaixo{
  border: 3px solid   #2672ed;
  span{
    color:  #2672ed;
  }
}

.kpi_legenda{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.kpi:hover {
  transform: translateY(-5px);
  transform: scale(0.98);
  color: #5d3f26;
  transform: translateY(-2px);
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.kpi p {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  transition: color 0.3s, transform 0.3s, text-shadow 0.3s;
  color: #333;
}



.kpi h3 {
  font-size: 18px;
  margin: 0px;
  
}

.kpi span {
  font-size: 30px;
  margin-top: 20px;
  font-weight: bold;
}

.kpi i {
  font-size: 1.8em;
  color: #2c1d13;
  margin-top: 10px;
  transition: color 0.3s, transform 0.3s;
}

.kpi:hover i {
  transform: scale(1.2);
}

#maximo {
  border-left: 12px solid #FF4500;
}

#media {
  border-left: 12px solid #FFD700;
}

#minima {
  border-left: 12px solid #1E90FF;
}

#maximo:hover {
  border-color: #FF4500;
}

#media:hover {
  border-color: #FFD700;
}

#minima:hover {
  border-color: #1E90FF;
}


#maximoU {
  border-left: 12px solid #0000FF;
}

#mediaU {
  border-left: 12px solid #4682B4;
}

#minimaU {
  border-left: 12px solid #ADD8E6;
}

#maximoU:hover {
  border-color: #0000FF;
}

#mediaU:hover {
  border-color: #4682B4;
}

#minimaU:hover {
  border-color: #ADD8E6;
}



.chart-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.chart-container canvas {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--primario);
  border: 3px solid #000000;
  transition: transform 0.3s;
  width: 80%;
}

.chart-container canvas:hover {
  transform: translateY(-5px);
}
.grafico-temperatura-umidade{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
.grafico-temperatura-umidade h2 {
  color: #ffffff;
  font-family: "Dancing Script", cursive;
  text-shadow: 1px 1px #5d3f26,
    2px 2px #5d3f26,
    3px 3px #5d3f26,
    4px 4px #5d3f26,
    4px 4px #5d3f26,
    5px 5px #5d3f26,
    6px 6px #5d3f26,
    6px 6px #5d3f26;
}

.h2Umidade h2 {
  z-index: 999;
  position: relative;
  color: #ffffff;
  font-family: "Dancing Script", cursive;
  text-shadow: 1px 1px #5d3f26,
    2px 2px #5d3f26,
    3px 3px #5d3f26,
    4px 4px #5d3f26,
    4px 4px #5d3f26,
    5px 5px #5d3f26,
    6px 6px #5d3f26,
    6px 6px #5d3f26;
  transition: color 0.3s, text-shadow 0.3s;
}


.sensor-choice {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.sensor-option {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  left: 650px;
  bottom: 50px;
  height: 40px;
  width: 55px;
  background-color: #F7E1BC;
  color: #4A2721;
  border: 3px solid var(--corSecundaria);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;


  a {
    color: inherit;
    text-decoration: none;
  }
}

.sensor-option:hover {
  background-color: #ceb08a;

  i {
    color: #7c573c8a;

  }
}

.sensor-option i {
  font-size: 20px;
  align-items: center;
}


